<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Welcome to Bite 4 Byte!</h1>
        <p>This is an admin web app to monitor the database</p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>