<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <div class="navbar-brand">
    <img src="/public/webappLogo.jpg" alt="logo" height="10%" width="10%" style="padding:10px">
    Byte 4 Byte
  </div>
</div>
</nav>